#wrapper {
		width: 960px;
		margin-right: auto;
		margin-left: auto;
		font-size: 16px;
		font-family: arial, sans-serif
	}
	
	header {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 130px;
	text-align: center;
	
	
	}
	nav {
		text-align: center;
	}
	
	nav ul {
		list-style-type: none;
		
	}
	nav li {
		display: inline;
		margin-right: 40px;
		
		
	}
	
	body {
		background-color:  #EDEBE8;
	}
	a {
		color: #515151;
		
		
	}
	
	section {
		width: 603px;
		float: left;
		padding: 15px;
		margin-top: 15px;
		margin-right: 15px;
		background-color: #F2F2F2;
		border: 1px solid #DEDCD9;
		border-radius: 5px;
		margin-bottom: 15px;
	}
	
	.article {
		height: 120px;
		margin-top: 15px;
		margin-bottom: 50px;
	} 
	
	.article img {
		float: left;
		padding: 5px;
		border: 1px solid #DEDCD9;
		
	}
	.article a {
		font-size: 18px;
	}
	
	aside {
		width: 256px;
		float: right;
		padding: 25px;
		margin-top: 15px;
		background-color: #F2F2F2;
		border: 1px solid #DEDCD9;
		border-radius: 5px;
		margin-bottom: 15px;
		
	}
	
	footer {
		clear: both;
		background-color: #F2F2F2;
		border: 1px solid #DEDCD9;
		border-radius: 5px;
		
	}
	
	footer ul {
		float: left;
		list-style: none;
		padding: 0px;
		margin: 20px;
	}
	
	footer li {
margin-right: 15px;
display: inline;
		
	}
	footer p {
text-align: right;
margin-right: 20px;
color: #777;	
	}
	
	
	#datenschutz {
		margin: 15px;
	}
	#datenschutz h1 {
		color: #777;
		padding-bottom: 10px; 
		
	}